<%= content_for(:page_title, "Greg McGuirk") %> 

<div id="main_content">
  <section id="links">
    <ul >
      <li><a href="www.linkedin.com/pub/greg-mcguirk/32/603/686/en">LinkedIn</a></li>
      <li> <a href="https://twitter.com/bgregmc">Twitter</a> </li>
      <li><a href="https://github.com/bgreg">Github</a></li>
      <li><a href="http://www.meetup.com/Silicone-Valley-Ruby-Workshop/">RubyWorkshop</a></li>
    </ul>
  </section>
  <h3>
    <span class="top char1">G</span>
    <span class="top char2">r</span>
    <span class="top char3">e</span>
    <span class="top char4">g</span>
    <span class="bottom char5">  <span>M</span> </span>
    <span class="bottom char6">  <span>c</span> </span>
    <span class="bottom char7">  <span>G</span> </span>
    <span class="bottom char8">  <span>u</span> </span>
    <span class="bottom char9">  <span>i</span> </span>
    <span class="bottom char10"> <span>r</span> </span>
    <span class="bottom char11"> <span>k</span> </span>
  </h3>
  <%= image_tag("imonaboat.jpg", id: 'main_photo', class: 'center_of_page') %> 
</div>
